#background-sky {
    height: 100vh;
    background: linear-gradient(180deg, rgba(70,41,117,1) 0%, rgba(70,41,117,1) 83%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
}

#title-welcome-container {
    transform: translateY(8vh);
}

#title-welcome {
    display: inline;
}

#title-welcome-container .typed-cursor {
    font-size: calc(1.375rem + 1.5vw);
    position: relative;
    top: -3px;
}

#scroll-down {
    opacity: 0;
    position: absolute;
    max-width: 20vw;
    bottom: 10px;
    width: 90px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    animation: displayScrollDown 2s ease forwards;
    animation-delay: 3s;
}

@media (min-width: 1200px) {
    #title-welcome-container .typed-cursor {
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {
    #title-welcome-container h1,
    #title-welcome-container .typed-cursor {
        font-size: calc(1.175rem + 1.5vw);
    }
}

@keyframes displayScrollDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
