#background-sky {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#title-welcome {
    display: inline;
}

.typed-cursor {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    .typed-cursor {
        font-size: 2.5rem;
    }
}